


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4 hoverable">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Funciona off-line</h5>
          <p class="light" style="text-align: center;">Através da configuração do cache é possível manter funções do site funciando mesmo estando off-line.</p>
        </div>
    </div>

      <div class="col s12 m4 hoverable">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">PWA</h5>

          <p class="light" style="text-align: center;">É um termo usado para denotar uma nova metodologia de desenvolvimento de software. Ao contrário dos tradicionais aplicativos, um Progressive Web App pode ser visto como uma evolução híbrida entre as páginas da web regulares (ou sites) e um aplicativo móvel. Este novo modelo de aplicação combina recursos oferecidos pelos mais modernos navegadores, com as vantagens de uso de um celular.</p>
        </div>
      </div>

      <div class="col s12 m4 hoverable">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Roda no navegador</h5>

          <p class="light" style="text-align: center;">Não precisa ser instalado de uma loja.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>